## Week 2 - Project: Data Wrangling
___

#### 1. Import Libraries and Dataset

In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
df = pd.read_csv("./MetObjects.csv")

/usr/local/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (7,8,9,10,11,18,27,28,29,30,31,32,33,34,35,36,37,39) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

**Initial Exploration**
- shape, columns & head to get initial understanding of the data.

In [3]:
print(df.shape)
print(df.columns)

(495900, 44)
Index(['Object Number', 'Is Highlight', 'Is Public Domain', 'Object ID',
       'Department', 'Object Name', 'Title', 'Culture', 'Period', 'Dynasty',
       'Reign', 'Portfolio', 'Artist Role', 'Artist Prefix',
       'Artist Display Name', 'Artist Display Bio', 'Artist Suffix',
       'Artist Alpha Sort', 'Artist Nationality', 'Artist Begin Date',
       'Artist End Date', 'Object Date', 'Object Begin Date',
       'Object End Date', 'Medium', 'Dimensions', 'Credit Line',
       'Geography Type', 'City', 'State', 'County', 'Country', 'Region',
       'Subregion', 'Locale', 'Locus', 'Excavation', 'River', 'Classification',
       'Rights and Reproduction', 'Link Resource', 'Metadata Date',
       'Repository', 'Tags'],
      dtype='object')

In [4]:
df.head()

,Object Number,Is Highlight,Is Public Domain,Object ID,Department,Object Name,Title,Culture,Period,Dynasty,...,Locale,Locus,Excavation,River,Classification,Rights and Reproduction,Link Resource,Metadata Date,Repository,Tags
0,1979.486.1,False,False,1,American Decorative Arts,Coin,One-dollar Liberty Head Coin,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/1,7/8/2019 8:00:02 AM,"Metropolitan Museum of Art, New York, NY",NaN
1,1980.264.5,False,False,2,American Decorative Arts,Coin,Ten-dollar Liberty Head Coin,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/2,7/8/2019 8:00:02 AM,"Metropolitan Museum of Art, New York, NY",NaN
2,67.265.9,False,False,3,American Decorative Arts,Coin,Two-and-a-Half Dollar Coin,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/3,7/8/2019 8:00:02 AM,"Metropolitan Museum of Art, New York, NY",NaN
3,67.265.10,False,False,4,American Decorative Arts,Coin,Two-and-a-Half Dollar Coin,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/4,7/8/2019 8:00:02 AM,"Metropolitan Museum of Art, New York, NY",NaN
4,67.265.11,False,False,5,American Decorative Arts,Coin,Two-and-a-Half Dollar Coin,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/5,7/8/2019 8:00:02 AM,"Metropolitan Museum of Art, New York, NY",NaN

#### 2. Find and Remove Duplicates

- In the dataset there are 2 columns that have the same values for all the variables: Metadata Date and Repository. We will remove them.

In [5]:
df = df.drop(['Metadata Date', 'Repository'], axis=1)
df.head()

,Object Number,Is Highlight,Is Public Domain,Object ID,Department,Object Name,Title,Culture,Period,Dynasty,...,Region,Subregion,Locale,Locus,Excavation,River,Classification,Rights and Reproduction,Link Resource,Tags
0,1979.486.1,False,False,1,American Decorative Arts,Coin,One-dollar Liberty Head Coin,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/1,NaN
1,1980.264.5,False,False,2,American Decorative Arts,Coin,Ten-dollar Liberty Head Coin,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/2,NaN
2,67.265.9,False,False,3,American Decorative Arts,Coin,Two-and-a-Half Dollar Coin,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/3,NaN
3,67.265.10,False,False,4,American Decorative Arts,Coin,Two-and-a-Half Dollar Coin,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/4,NaN
4,67.265.11,False,False,5,American Decorative Arts,Coin,Two-and-a-Half Dollar Coin,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/5,NaN

- Also, we have 2 id columns (Object Number, Object ID); Object ID has a consecutive unique key, while Object Number seems to have an internal classification of the museum. The rare issue is that there are repeated Object Numbers, which leads us to think that those could be repeated rows.
- Those are not duplicates exactly as applying the method .drop_duplicates(), we have no results.
- As we only need one identifier for the database, we choose to keep, then, the column that has unique values (Object ID)

In [6]:
#check number of different values of Object Number, there are repeats
print(df['Object Number'].value_counts())
print(df.shape)

#check if there are duplicates, none found.
select_columns = ['Object Number',
       'Department', 'Object Name', 'Title', 'Artist Role',
       'Artist Display Name',
       'Artist Nationality', 'Object Date', 'Medium', 'Link Resource', 'Tags']
before = len(df)
df_tmp = df[select_columns].drop_duplicates() 
after = len(df_tmp)
print('Number of duplicate records dropped: ', str(before - after))

62.635                  4
25.2.13                 3
49.20.12                2
23.31.1                 2
20.37.6                 2
91.1.57                 2
49.69.5                 2
23.73.2                 2
1979.525.1              2
20.70                   2
1971.529.3              2
23.21.3                 2
21.88.1                 2
34.39                   2
24.100.9                2
19.64                   2
91.1.86                 2
29.16.9                 2
30.52.14                2
44.54.1                 2
41.100.147              2
23.21.12                2
47.100.30               2
33.39.49                2
17.67                   2
42.50.2                 2
47.122                  2
41.100.121              2
33.71.1                 2
19.76.5                 2
                       ..
1992.246.3              1
24.109.13               1
21.15.3(24)             1
63.350.209.146.1.93     1
1994.256.567            1
2011.604.2.1346         1
2011.604.2.1673         1
1983.400.3              1
1981.1229.61.1          1
2011.604.1.8819a, b     1
12.37.45                1
1974.606.6              1
1988.362.1aâ€“g           1
JP905                   1
D.1994.262.1943         1
36.25.2130              1
41.119.2                1
41.158.3                1
53.601.13(86)           1
1994.253.731.1â€“.6       1
41.162.156              1
33.84(2.59)             1
1979.206.1748           1
2003.436                1
Burdick 537, W612.36    1
1994.197.2 (1)          1
13.225.22               1
2015.303.47             1
69.566                  1
2000.17                 1
Name: Object Number, Length: 493167, dtype: int64
(495900, 42)
Number of duplicate records dropped:  0

In [7]:
#Dropping Object Number column:
df = df.drop(['Object Number'], axis=1)
df.head()

,Is Highlight,Is Public Domain,Object ID,Department,Object Name,Title,Culture,Period,Dynasty,Reign,...,Region,Subregion,Locale,Locus,Excavation,River,Classification,Rights and Reproduction,Link Resource,Tags
0,False,False,1,American Decorative Arts,Coin,One-dollar Liberty Head Coin,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/1,NaN
1,False,False,2,American Decorative Arts,Coin,Ten-dollar Liberty Head Coin,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/2,NaN
2,False,False,3,American Decorative Arts,Coin,Two-and-a-Half Dollar Coin,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/3,NaN
3,False,False,4,American Decorative Arts,Coin,Two-and-a-Half Dollar Coin,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/4,NaN
4,False,False,5,American Decorative Arts,Coin,Two-and-a-Half Dollar Coin,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/5,NaN

#### 3. Identify and Deal With NaN Fields
- Count nulls per column
- Analyze possible relationship between variables
- Replace or remove cases/columns according to each case

In [8]:
null_columns = df.isnull().sum()
null_columns

Is Highlight                    0
Is Public Domain                0
Object ID                       0
Department                      0
Object Name                  4487
Title                       31270
Culture                    286911
Period                     406364
Dynasty                    472618
Reign                      484695
Portfolio                  473488
Artist Role                209187
Artist Prefix              397149
Artist Display Name        207090
Artist Display Bio         256843
Artist Suffix              483591
Artist Alpha Sort          207125
Artist Nationality         302520
Artist Begin Date          254001
Artist End Date            256820
Object Date                 15086
Object Begin Date               0
Object End Date                 0
Medium                       7505
Dimensions                  76162
Credit Line                   820
Geography Type             435518
City                       463637
State                      493097
County                     487319
Country                    419071
Region                     463967
Subregion                  473651
Locale                     480333
Locus                      488560
Excavation                 479922
River                      493802
Classification              56303
Rights and Reproduction    470840
Link Resource                   0
Tags                       239230
dtype: int64

- Observing null columns that are related to historic / archeological objects, we see that they tend to have around 90% of the cases blank. 
- Doing a group by Department with the count of cases for each column, we can easily see that most of these columns have information concentrated in a specific department, meaning that it information that is not relevant to understand the whole data set. They will be removed.
- If we check the other columns that have more than 400000 null values (City, State, County, Country and Rights and Reproduction), we see they appear in more than one department in a small number, but are completely missing in others. These columns will also be eliminated.
- The final decision is to eliminate all columns that have more than 400000 registers missing, except Country, which we will use later.

In [9]:
print(df[['Department','Culture', 'Period','Dynasty', 'Reign', 'Geography Type', 'Region', 'Subregion', 'Locale', 'Locus', 'Excavation', 'River', 'Classification']].groupby('Department').count())
print(df[['Department','City','State','County','Country','Rights and Reproduction']].groupby('Department').count())

                                           Culture  Period  Dynasty  Reign  \
Department
American Decorative Arts                     16693       0        0      0
Ancient Near Eastern Art                      5027    5810        0      0
Arms and Armor                               13586       0        0      0
Arts of Africa, Oceania, and the Americas    12759       0        0      0
Asian Art                                    37576   25706        0      0
Costume Institute                            31213       0        0      0
Drawings and Prints                              0       2        0      0
Egyptian Art                                     0   27910    23282  11205
European Paintings                               0       0        0      0
European Sculpture and Decorative Arts       42945       0        0      0
Greek and Roman Art                          32366   29911        0      0
Islamic Art                                      0       0        0      0
Medieval Art                                  7472       0        0      0
Modern and Contemporary Art                    532       0        0      0
Musical Instruments                           4898     197        0      0
Photographs                                      0       0        0      0
Robert Lehman Collection                      1466       0        0      0
The Cloisters                                 2420       0        0      0
The Libraries                                   36       0        0      0

                                           Geography Type  Region  Subregion  \
Department
American Decorative Arts                            11066     408          0
Ancient Near Eastern Art                              117    6281       3403
Arms and Armor                                          0       0          0
Arts of Africa, Oceania, and the Americas               0    3799          0
Asian Art                                               0       0          0
Costume Institute                                       0       0          0
Drawings and Prints                                     0       0          0
Egyptian Art                                        27875   19928      18846
European Paintings                                      0       0          0
European Sculpture and Decorative Arts                  0       0          0
Greek and Roman Art                                     0       0          0
Islamic Art                                         15662     923          0
Medieval Art                                         3673      50          0
Modern and Contemporary Art                           375     267          0
Musical Instruments                                    40     203          0
Photographs                                             0       0          0
Robert Lehman Collection                                0       0          0
The Cloisters                                        1569      74          0
The Libraries                                           5       0          0

                                           Locale  Locus  Excavation  River  \
Department
American Decorative Arts                        0      0           0      0
Ancient Near Eastern Art                        0      0           0      0
Arms and Armor                                  0      0           0      0
Arts of Africa, Oceania, and the Americas       0      0           0   2098
Asian Art                                       0      0           0      0
Costume Institute                               0      0           0      0
Drawings and Prints                             0      0           0      0
Egyptian Art                                15567   7340       15978      0
European Paintings                              0      0           0      0
European Sculpture and Decorative Arts          0      0           0      0
Greek and Roman Art                             0      0           0      0
Islamic Art                                     0      0           0      0
Medieval Art                                    0      0           0      0
Modern and Contemporary Art                     0      0           0      0
Musical Instruments                             0      0           0      0
Photographs                                     0      0           0      0
Robert Lehman Collection                        0      0           0      0
The Cloisters                                   0      0           0      0
The Libraries                                   0      0           0      0

                                           Classification
Department
American Decorative Arts                            18599
Ancient Near Eastern Art                             6325
Arms and Armor                                      13587
Arts of Africa, Oceania, and the Americas           13050
Asian Art                                           37790
Costume Institute                                       6
Drawings and Prints                                179547
Egyptian Art                                         3091
European Paintings                                   2935
European Sculpture and Decorative Arts              43013
Greek and Roman Art                                 33657
Islamic Art                                         15782
Medieval Art                                         7504
Modern and Contemporary Art                         14791
Musical Instruments                                  5321
Photographs                                         39302
Robert Lehman Collection                             2614
The Cloisters                                        2629
The Libraries                                          54
                                            City  State  County  Country  \
Department
American Decorative Arts                    6309    833     833    11043
Ancient Near Eastern Art                       0     13       0        1
Arms and Armor                              1393      0     968        0
Arts of Africa, Oceania, and the Americas   1348     43    2886    12897
Asian Art                                      0      0       0        0
Costume Institute                              0      0       0        0
Drawings and Prints                        12175      0       0        0
Egyptian Art                                   0   1242       0    27866
European Paintings                             0      0       0        0
European Sculpture and Decorative Arts         0      0       0        0
Greek and Roman Art                            0      0       0        0
Islamic Art                                 7342    605     209    15170
Medieval Art                                1530     20    1448     3257
Modern and Contemporary Art                  269      0     265      372
Musical Instruments                         1283     40    1054     4683
Photographs                                    0      0       0        0
Robert Lehman Collection                       0      0       0        0
The Cloisters                                436      2     873     1416
The Libraries                                178      5      45      124

                                           Rights and Reproduction
Department
American Decorative Arts                                       119
Ancient Near Eastern Art                                         0
Arms and Armor                                                   0
Arts of Africa, Oceania, and the Americas                       48
Asian Art                                                      631
Costume Institute                                               75
Drawings and Prints                                           4220
Egyptian Art                                                     0
European Paintings                                               2
European Sculpture and Decorative Arts                           9
Greek and Roman Art                                              0
Islamic Art                                                     29
Medieval Art                                                     0
Modern and Contemporary Art                                   4306
Musical Instruments                                              0
Photographs                                                  15499
Robert Lehman Collection                                        95
The Cloisters                                                   23
The Libraries                                                    4

In [10]:
# Dropping columns with more than 420000 registers missing


drop_cols = list(null_columns[null_columns > 420000].index)
df = df.drop(drop_cols, axis=1)
df = df.drop('Period', axis=1)
df.head()

,Is Highlight,Is Public Domain,Object ID,Department,Object Name,Title,Culture,Artist Role,Artist Prefix,Artist Display Name,...,Object Date,Object Begin Date,Object End Date,Medium,Dimensions,Credit Line,Country,Classification,Link Resource,Tags
0,False,False,1,American Decorative Arts,Coin,One-dollar Liberty Head Coin,NaN,Maker,NaN,James Barton Longacre,...,1853,1853,1853,Gold,Dimensions unavailable,"Gift of Heinz L. Stoppelmann, 1979",NaN,Metal,http://www.metmuseum.org/art/collection/search/1,NaN
1,False,False,2,American Decorative Arts,Coin,Ten-dollar Liberty Head Coin,NaN,Maker,NaN,Christian Gobrecht,...,1901,1901,1901,Gold,Dimensions unavailable,"Gift of Heinz L. Stoppelmann, 1980",NaN,Metal,http://www.metmuseum.org/art/collection/search/2,NaN
2,False,False,3,American Decorative Arts,Coin,Two-and-a-Half Dollar Coin,NaN,NaN,NaN,NaN,...,1909â€“27,1909,1927,Gold,Diam. 11/16 in. (1.7 cm),"Gift of C. Ruxton Love, Jr., 1967",NaN,Metal,http://www.metmuseum.org/art/collection/search/3,NaN
3,False,False,4,American Decorative Arts,Coin,Two-and-a-Half Dollar Coin,NaN,NaN,NaN,NaN,...,1909â€“27,1909,1927,Gold,Diam. 11/16 in. (1.7 cm),"Gift of C. Ruxton Love, Jr., 1967",NaN,Metal,http://www.metmuseum.org/art/collection/search/4,NaN
4,False,False,5,American Decorative Arts,Coin,Two-and-a-Half Dollar Coin,NaN,NaN,NaN,NaN,...,1909â€“27,1909,1927,Gold,Diam. 11/16 in. (1.7 cm),"Gift of C. Ruxton Love, Jr., 1967",NaN,Metal,http://www.metmuseum.org/art/collection/search/5,NaN

In [11]:
# Check again what are the remaining columns with missing information
null_columns = df.isnull().sum()
null_columns

Is Highlight                0
Is Public Domain            0
Object ID                   0
Department                  0
Object Name              4487
Title                   31270
Culture                286911
Artist Role            209187
Artist Prefix          397149
Artist Display Name    207090
Artist Display Bio     256843
Artist Alpha Sort      207125
Artist Nationality     302520
Artist Begin Date      254001
Artist End Date        256820
Object Date             15086
Object Begin Date           0
Object End Date             0
Medium                   7505
Dimensions              76162
Credit Line               820
Country                419071
Classification          56303
Link Resource               0
Tags                   239230
dtype: int64

- The next group of columns are related to the artist information. They also have a significant ammount of missing data, mainly because it is impossible to determine authorship for some ancient pieces. 
- If we go back to the same visualization by department, we see that the departments with less artist information are the ones that deal with ancient art / history, as well as cultural artifacts: Ancient Near Eastern Art; Arms and Armor; Arts of Africa, Oceania, and the Americas; Egyptian Art; Greek and Roman Art; Islamic Art; Medieval Art; Musical Instruments; The Cloisters; The Libraries.
- On the other hand, most of those same columns have a lot of information on the Culture and the Country that produced the piece. Since the artist information is very important to understanding the stock of the MET museum, or any art data set for instance, we could perform a for loop that merges the following columns:
    - A new column Authorship that merges Culture + Artist Display Name columns so to be able to have collective or cultural authorship.
    - A categorical variable that classifies authorship into individual or collective
    - A new column Nationality that combines the columns Artist Nationality + Country, so that we have the most complete origin information

In [12]:
df['Artist Role'].value_counts()
df['Artist Prefix'].value_counts()
df['Artist Display Bio'].value_counts()

df[['Department','Culture', 'Artist Role','Artist Prefix', 'Artist Display Name', 'Artist Display Bio', 'Artist Alpha Sort', 'Artist Nationality', 'Artist Begin Date', 'Artist End Date']].groupby('Department').count()

,Culture,Artist Role,Artist Prefix,Artist Display Name,Artist Display Bio,Artist Alpha Sort,Artist Nationality,Artist Begin Date,Artist End Date
Department,,,,,,,,,
American Decorative Arts,16693,11835,2026,11835,11069,11824,5894,10998,11524
Ancient Near Eastern Art,5027,7,0,7,6,7,0,6,6
Arms and Armor,13586,963,435,963,945,963,765,897,902
"Arts of Africa, Oceania, and the Americas",12759,1055,322,1055,283,1055,122,743,736
Asian Art,37576,10315,1206,10315,9297,10308,8283,8974,8902
Costume Institute,31213,16275,1058,16275,14897,16275,13851,13964,13859
Drawings and Prints,0,171504,82734,171504,134749,171497,112936,141718,141266
Egyptian Art,0,551,6,551,239,551,7,330,330
European Paintings,0,2934,274,2934,2921,2933,2485,2754,2754
European Sculpture and Decorative Arts,42945,13841,5713,13841,12147,13839,6348,12550,12488
Greek and Roman Art,32366,58,2120,2155,58,2153,3,7,7
Islamic Art,0,757,228,757,614,757,88,610,612
Medieval Art,7472,238,100,238,172,238,80,170,170
Modern and Contemporary Art,532,14727,52,14727,13507,14725,11896,13303,13152
Musical Instruments,4898,1304,164,1304,769,1304,634,653,632
Photographs,0,38500,2016,38500,35796,38497,28648,32639,30159
Robert Lehman Collection,1466,1492,223,1492,1287,1492,1161,1280,1279
The Cloisters,2420,124,56,124,107,124,102,100,100
The Libraries,36,233,18,233,194,233,77,203,202

In [13]:
#Generate Authorship column
#First, fill every null with 0 so it is easier to iterate :P
df[['Culture', 'Artist Display Name']] = df[['Culture', 'Artist Display Name']].fillna(0)

In [14]:
#then, map to create new column and get 0 values to be called Unknown:
authorship = pd.DataFrame(map(lambda x,y: y if x == 0 else x, df['Artist Display Name'], df['Culture']))
authorship = pd.DataFrame(map(lambda x,y: y if x == 0 else x, authorship[0], df['Artist Alpha Sort']))
authorship[0].value_counts()
authorship[0] = authorship[0].fillna('Unknown')

In [15]:
#drop Culture and Art Display Name, join Authorship, give it a name
df = df.drop(['Artist Display Name', 'Culture', 'Artist Alpha Sort'], axis=1)
df = pd.concat([df, authorship], axis=1)
df = df.rename(columns={0:'Authorship'})
df.columns

Index(['Is Highlight', 'Is Public Domain', 'Object ID', 'Department',
       'Object Name', 'Title', 'Artist Role', 'Artist Prefix',
       'Artist Display Bio', 'Artist Nationality', 'Artist Begin Date',
       'Artist End Date', 'Object Date', 'Object Begin Date',
       'Object End Date', 'Medium', 'Dimensions', 'Credit Line', 'Country',
       'Classification', 'Link Resource', 'Tags', 'Authorship'],
      dtype='object')

In [16]:
#Same process with columns Artist Nationality vs Country
df[['Artist Nationality', 'Country']] = df[['Artist Nationality', 'Country']].fillna(0)
nationality = pd.DataFrame(map(lambda x,y: y if x == 0 else x, df['Artist Nationality'], df['Country']))
nationality[0].value_counts()
nationality[0] = nationality[0].fillna('Unknown')
df = df.drop(['Artist Nationality', 'Country'], axis=1)
df = pd.concat([df, nationality], axis=1)
df = df.rename(columns={0:'Nationality'})
df.columns

Index(['Is Highlight', 'Is Public Domain', 'Object ID', 'Department',
       'Object Name', 'Title', 'Artist Role', 'Artist Prefix',
       'Artist Display Bio', 'Artist Begin Date', 'Artist End Date',
       'Object Date', 'Object Begin Date', 'Object End Date', 'Medium',
       'Dimensions', 'Credit Line', 'Classification', 'Link Resource', 'Tags',
       'Authorship', 'Nationality'],
      dtype='object')

- The columns Artist Role & Artist Prefix have the same information in different formats. Since Artist Role is more complete and legible, we will drop Artist Prefix.
- The column Artist Display Bio is basically a summary of the columns Artist Nationality, Artist Begin Date and Artist End Date in the form of a text. Since the same info can be obtained in different ways, we will drop Artist Display Bio

In [17]:
df = df.drop(['Artist Prefix', 'Artist Display Bio'], axis = 1)
df.columns

Index(['Is Highlight', 'Is Public Domain', 'Object ID', 'Department',
       'Object Name', 'Title', 'Artist Role', 'Artist Begin Date',
       'Artist End Date', 'Object Date', 'Object Begin Date',
       'Object End Date', 'Medium', 'Dimensions', 'Credit Line',
       'Classification', 'Link Resource', 'Tags', 'Authorship', 'Nationality'],
      dtype='object')

In [18]:
#Check again what are the remaining columns with missing information
null_columns = df.isnull().sum()
null_columns[null_columns > 0]

Object Name            4487
Title                 31270
Artist Role          209187
Artist Begin Date    254001
Artist End Date      256820
Object Date           15086
Medium                 7505
Dimensions            76162
Credit Line             820
Classification        56303
Tags                 239230
dtype: int64

In [19]:
#With dates of birth and death of artists, we have about half of them. Will keep and replace na with 0
df[['Department', 'Artist Role', 'Artist Begin Date', 'Artist End Date', 'Object Date', 'Medium', 'Dimensions', 'Credit Line', 'Classification', 'Tags']].groupby('Department').count()
df[['Artist Begin Date', 'Artist End Date']] = df[['Artist Begin Date', 'Artist End Date']].fillna(0)

In [20]:
#Replacing values in the remaining columns so there are no empty values
df[['Artist Role']] = df[['Artist Role']].fillna('Unknown')
df[['Object Name', 'Title']] = df[['Object Name', 'Title']].fillna('Untitled')
df[['Object Date', 'Dimensions']] = df[['Object Date', 'Dimensions']].fillna(0)
df[['Medium', 'Credit Line', 'Classification', 'Tags']] = df[['Medium', 'Credit Line', 'Classification', 'Tags']].fillna('None')

#### 4. Standardize and Clean Text Information

- Since I have a lot of text information I want to have cleaned, I will write a function that identify strings and
- removes punctuation, special characters, spaces and parenthesis 
- After writing the function, I pass it through an apply() method, into a new data frame called df_clean
- My function adds an exception to the links present in the column Link Resource, so they are kept intact.

In [21]:
def clean_text(a):
    tmp = []
    for x in a:
        if type(x) == str and not x.startswith('http'):
            #lowercase
            x = x.lower()
            #remove_punctuation
            x = re.sub(r'[\.\,\!\?\"\'\Â¡\Â¿\:\&\-\|]', ' ', x)
            #remove_linebreaks
            x = re.sub(r'\n', ' ', x)
            #remove_parenthesis
            x = x.replace("("," ")
            x = x.replace(")"," ") 
        tmp.append(x)
    return tmp 

df_clean = df.apply(clean_text)
df_clean.head()

,Is Highlight,Is Public Domain,Object ID,Department,Object Name,Title,Artist Role,Artist Begin Date,Artist End Date,Object Date,Object Begin Date,Object End Date,Medium,Dimensions,Credit Line,Classification,Link Resource,Tags,Authorship,Nationality
0,False,False,1,american decorative arts,coin,one dollar liberty head coin,maker,1794,1869,1853,1853,1853,gold,dimensions unavailable,gift of heinz l stoppelmann 1979,metal,http://www.metmuseum.org/art/collection/search/1,none,james barton longacre,american
1,False,False,2,american decorative arts,coin,ten dollar liberty head coin,maker,1785,1844,1901,1901,1901,gold,dimensions unavailable,gift of heinz l stoppelmann 1980,metal,http://www.metmuseum.org/art/collection/search/2,none,christian gobrecht,0
2,False,False,3,american decorative arts,coin,two and a half dollar coin,unknown,0,0,1909â€“27,1909,1927,gold,diam 11/16 in 1 7 cm,gift of c ruxton love jr 1967,metal,http://www.metmuseum.org/art/collection/search/3,none,unknown,0
3,False,False,4,american decorative arts,coin,two and a half dollar coin,unknown,0,0,1909â€“27,1909,1927,gold,diam 11/16 in 1 7 cm,gift of c ruxton love jr 1967,metal,http://www.metmuseum.org/art/collection/search/4,none,unknown,0
4,False,False,5,american decorative arts,coin,two and a half dollar coin,unknown,0,0,1909â€“27,1909,1927,gold,diam 11/16 in 1 7 cm,gift of c ruxton love jr 1967,metal,http://www.metmuseum.org/art/collection/search/5,none,unknown,0

#### 5. Checking and changing data types

- Applying .dtypes we see that there are some columns that need type changing. Almost all columns are object, and we need the following to have different types:
    - Artist Begin Date, Artist End Date, Object Date: int64 (dates are only years)
        - Error: still have mixed types in the column - which in this case means multiple dates separated by spaces, the program cannot convert because the numbers do not seem to be decimal
        - To correct that, we made a decision to keep only 1 begin and end date per field.

In [22]:
#df_clean['Artist Begin Date'].astype('int64')

#define function to keep only first date that appears in the specified field
def one_year(srs):
    tmp = []
    for d in srs:
        if len(str(d)) > 4:
            tmp.append(int(str(d[0:4])))
        else:
            tmp.append(d)
    return tmp

df_clean[['Artist Begin Date', 'Artist End Date']] = df_clean[['Artist Begin Date', 'Artist End Date']].apply(one_year)

In [23]:
#The 2 columns now have int64 type :)
df_clean.dtypes

Is Highlight           bool
Is Public Domain       bool
Object ID             int64
Department           object
Object Name          object
Title                object
Artist Role          object
Artist Begin Date     int64
Artist End Date       int64
Object Date          object
Object Begin Date     int64
Object End Date       int64
Medium               object
Dimensions           object
Credit Line          object
Classification       object
Link Resource        object
Tags                 object
Authorship           object
Nationality          object
dtype: object

For the column Object Date there is a different problem:
- We have a lot of estimate information, such as "19th century", "ca 1888", "early 20th century", etc
- We could generate a function to replace those estimates for numbers, for example 19th century == 1801... But before we go through all that work, let's first compare the column 'Object Date' with the following ones - 'Object Begin Date' and 'Object End Date'
- As we can see, everytime we have a range or estimate date in the column 'Object Date', the other two columns express the limit dates of the estimate.
    - For example: 
        - Object Date: 1909-27 -> Object Begin Date: 1909 ; Object End Date: 1927
        - Object Date: 15th-16th Century -> Object Begin Date: 1400 ; Object End Date: 1599
- Therefore, we can safely remove the Object Date column without losing information.

In [24]:
#print(df_clean['Object Date'].value_counts())
#print(df_clean[['Object Date', 'Object Begin Date', 'Object End Date']])
df_clean = df_clean.drop('Object Date', axis=1)
df_clean.columns

Index(['Is Highlight', 'Is Public Domain', 'Object ID', 'Department',
       'Object Name', 'Title', 'Artist Role', 'Artist Begin Date',
       'Artist End Date', 'Object Begin Date', 'Object End Date', 'Medium',
       'Dimensions', 'Credit Line', 'Classification', 'Link Resource', 'Tags',
       'Authorship', 'Nationality'],
      dtype='object')

At last, let's check what is there in the column Dimensions, which will probably give us a lot of work
The structure of the column information seems to be:
1. Length | Height in inches (length for 2d, height for 3d objects)
2. Width in inches
3. Depth in inches (for 3d objects)
4. Length | Height in centimeters (length for 2d, height for 3d objects)
5. Width in inches
6. Depth in inches (for 3d objects)
7. Diameter in inches (for round 2d objects)
8. Diameter in centimeters (for round 2d objects)

So we can say that the Dimensions column information should be split into 8 columns. We could also add an 9th column if we want to add a categorical column of 2d vs 3d object

**Problem:** I could not figure out how to do the split, since the structure of the phrases varies too much ðŸ˜”  
**Partial Solution:** The only thing I could do was to remove the first part of the column, which is always the 1st word (when exists), and replace the new dimension column in the dataframe

In [25]:
#I created a new dimensions dataframe, without the text in the beginning
dimensions = pd.DataFrame(df['Dimensions'].str.replace(r'^[a-zA-z]+\b', ''))
dimensions = dimensions.apply(clean_text)
dimensions

                                               Dimensions
0                                             unavailable
1                                             unavailable
2                                      11/16 in   1 7 cm
3                                      11/16 in   1 7 cm
4                                      11/16 in   1 7 cm
5                                      11/16 in   1 7 cm
6                                      11/16 in   1 7 cm
7                                      11/16 in   1 7 cm
8                                      11/16 in   1 7 cm
9                                             unavailable
10                                            unavailable
11                                            unavailable
12                                            unavailable
13                                            unavailable
14                                       1/2 in   1 3 cm
15                                     1 1/8 in   2 9 cm
16                                     1 1/8 in   2 9 cm
17                                     1 1/8 in   2 9 cm
18                                     1 1/8 in   2 9 cm
19                                     1 1/8 in   2 9 cm
20                                     1 1/8 in   2 9 cm
21                                       1/2 in   1 3 cm
22                                       1/2 in   1 3 cm
23                                       3/4 in   1 9 cm
24                                       3/4 in   1 9 cm
25                                       3/4 in   1 9 cm
26                                       3/4 in   1 9 cm
27                                       3/4 in   1 9 cm
28                                       3/4 in   1 9 cm
29                                       3/4 in   1 9 cm
...                                                   ...
495870    18 7/8 Ã— 14 9/16 in   48 Ã— 37 cm \r plate  1...
495871    15 7/8 Ã— 11 15/16 in   40 3 Ã— 30 3 cm \r pla...
495872    19 7/8 Ã— 14 3/8 in   50 5 Ã— 36 5 cm \r plate...
495873    19 7/8 Ã— 14 3/16 in   50 5 Ã— 36 cm \r plate ...
495874    25 9/16 Ã— 18 11/16 in   65 Ã— 47 5 cm \r plat...
495875    25 9/16 Ã— 18 13/16 in   65 Ã— 47 8 cm \r plat...
495876    25 11/16 Ã— 18 11/16 in   65 2 Ã— 47 5 cm \r p...
495877    10 1/4 Ã— 13 3/4 in   26 Ã— 35 cm \r plate  3 ...
495878    25 9/16 Ã— 18 11/16 in   65 Ã— 47 5 cm \r plat...
495879    trimmed   7 3/16 Ã— 9 15/16 in   18 3 Ã— 25 3 ...
495880   a  h  72 in   182 9 cm \r                   w...
495881    13 1/16 Ã— 9 13/16 in   33 3 Ã— 25 cm \r plate...
495882    upper   2 9/16 Ã— 3 15/16 in   6 5 Ã— 10 cm \r...
495883               21 1/8 Ã— 16 1/2 in   53 6 Ã— 41 9 cm
495884     trimmed   8 1/8 Ã— 5 11/16 in   20 7 Ã— 14 5 cm
495885    19 5/8 Ã— 25 1/4 in   49 8 Ã— 64 2 cm \r image...
495886    2 15/16 Ã— 3 3/4 in   7 5 Ã— 9 5 cm \r plate  ...
495887    12 1/16 Ã— 8 1/8 in   30 6 Ã— 20 6 cm \r sheet...
495888    6 11/16 Ã— 8 1/4 in   17 Ã— 21 cm \r plate  4 ...
495889     trimmed   10 7/16 Ã— 7 5/8 in   26 5 Ã— 19 4 cm
495890    10 1/16 Ã— 7 3/4 in   25 6 Ã— 19 7 cm \r sheet...
495891     trimmed   11 13/16 Ã— 8 5/16 in   30 Ã— 21 1 cm
495892    5 7/8 Ã— 7 1/16 in   15 Ã— 18 cm \r plate  3 3...
495893    7 3/8 Ã— 10 1/8 in   18 8 Ã— 25 8 cm \r plate ...
495894    11 7/16 Ã— 8 1/16 in   29 Ã— 20 5 cm \r plate ...
495895    8 1/16 Ã— 11 7/16 in   20 5 Ã— 29 cm \r plate ...
495896    trimmed   2 15/16 Ã— 4 1/16 in   7 5 Ã— 10 3 c...
495897    trimmed   3 1/8 Ã— 4 5/16 in   8 Ã— 11 cm \r p...
495898    7 5/16 Ã— 9 13/16 in   18 5 Ã— 25 cm \r plate ...
495899    13 9/16 Ã— 10 1/16 in   34 5 Ã— 25 5 cm \r pla...

[495900 rows x 1 columns]

In [26]:
#Now, I will drop the column Dimensions from the clean dataframe and replace it with my dimensions new column
df_clean = df_clean.drop('Dimensions', axis=1)
df_clean = pd.concat([df_clean, dimensions], axis=1)
df_clean.columns

Index(['Is Highlight', 'Is Public Domain', 'Object ID', 'Department',
       'Object Name', 'Title', 'Artist Role', 'Artist Begin Date',
       'Artist End Date', 'Object Begin Date', 'Object End Date', 'Medium',
       'Credit Line', 'Classification', 'Link Resource', 'Tags', 'Authorship',
       'Nationality', 'Dimensions'],
      dtype='object')

#### 6. Examine Categorical Variables
- We have some categorical variables, such as:
    - Is Public Domain
    - Department
- Lets create dummy variables to describe those variables, and then incorporate them in the dataframe
- We could also try to use the dates columns to create bins and classify our objects from Very old to Very new

In [27]:
#Get dummies for Is Public Domain
public = pd.get_dummies(df_clean['Is Public Domain'])
public.head(10)

#Get dummies for Department
depts = pd.get_dummies(df_clean['Department'])
depts.head(10)

,american decorative arts,ancient near eastern art,arms and armor,arts of africa oceania and the americas,asian art,costume institute,drawings and prints,egyptian art,european paintings,european sculpture and decorative arts,greek and roman art,islamic art,medieval art,modern and contemporary art,musical instruments,photographs,robert lehman collection,the cloisters,the libraries
0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
5,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
7,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
8,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
9,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [28]:
#concat para unir todo
df_clean = pd.concat([df_clean, public, depts], axis=1)
df_clean.columns

Index([                             'Is Highlight',
                                'Is Public Domain',
                                       'Object ID',
                                      'Department',
                                     'Object Name',
                                           'Title',
                                     'Artist Role',
                               'Artist Begin Date',
                                 'Artist End Date',
                               'Object Begin Date',
                                 'Object End Date',
                                          'Medium',
                                     'Credit Line',
                                  'Classification',
                                   'Link Resource',
                                            'Tags',
                                      'Authorship',
                                     'Nationality',
                                      'Dimensions',
                                             False,
                                              True,
                        'american decorative arts',
                        'ancient near eastern art',
                                  'arms and armor',
       'arts of africa  oceania  and the americas',
                                       'asian art',
                               'costume institute',
                             'drawings and prints',
                                    'egyptian art',
                              'european paintings',
          'european sculpture and decorative arts',
                             'greek and roman art',
                                     'islamic art',
                                    'medieval art',
                     'modern and contemporary art',
                             'musical instruments',
                                     'photographs',
                        'robert lehman collection',
                                   'the cloisters',
                                   'the libraries'],
      dtype='object')

In [29]:
#change False and True columns names for clarity
df_clean = df_clean.rename(columns={False:'Not In Public Domain',
                                    True:'In Public Domain',
                                    'Is Public Domain':'PubDomain'})
df_clean.columns

Index(['Is Highlight', 'PubDomain', 'Object ID', 'Department', 'Object Name',
       'Title', 'Artist Role', 'Artist Begin Date', 'Artist End Date',
       'Object Begin Date', 'Object End Date', 'Medium', 'Credit Line',
       'Classification', 'Link Resource', 'Tags', 'Authorship', 'Nationality',
       'Dimensions', 'Not In Public Domain', 'In Public Domain',
       'american decorative arts', 'ancient near eastern art',
       'arms and armor', 'arts of africa  oceania  and the americas',
       'asian art', 'costume institute', 'drawings and prints', 'egyptian art',
       'european paintings', 'european sculpture and decorative arts',
       'greek and roman art', 'islamic art', 'medieval art',
       'modern and contemporary art', 'musical instruments', 'photographs',
       'robert lehman collection', 'the cloisters', 'the libraries'],
      dtype='object')

In [30]:
df_clean.describe()

,Object ID,Artist Begin Date,Artist End Date,Object Begin Date,Object End Date,Not In Public Domain,In Public Domain,american decorative arts,ancient near eastern art,arms and armor,...,european sculpture and decorative arts,greek and roman art,islamic art,medieval art,modern and contemporary art,musical instruments,photographs,robert lehman collection,the cloisters,the libraries
count,495900.000000,495900.000000,495900.000000,495900.000000,495900.000000,495900.000000,495900.000000,495900.000000,495900.000000,495900.000000,...,495900.000000,495900.000000,495900.000000,495900.000000,495900.000000,495900.000000,495900.000000,495900.000000,495900.000000,495900.000000
mean,388317.002611,866.220337,1013.742624,1313.820639,1411.392384,0.540643,0.459357,0.037506,0.012755,0.027399,...,0.086737,0.067990,0.031825,0.015132,0.029827,0.010730,0.079254,0.005271,0.005301,0.000520
std,232642.009995,897.577301,1452.095701,1649.975107,1105.027811,0.498346,0.498346,0.189997,0.112214,0.163242,...,0.281450,0.251728,0.175534,0.122078,0.170109,0.103029,0.270135,0.072412,0.072618,0.022803
min,1.000000,0.000000,0.000000,-400000.000000,-240000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,213913.750000,0.000000,0.000000,1540.000000,1599.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,376270.500000,0.000000,0.000000,1800.000000,1847.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,568057.250000,1826.000000,1900.000000,1900.000000,1911.000000,1.000000,1.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,829430.000000,2016.000000,9999.000000,5000.000000,15335.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

Let's try to create bins to classify how old those objects are:
- Basic statistics for the column Object Begin Date will be the reference for the bins  
>min = -400000  
>mean = 1314  
>25% = 1540  
>50% = 1800  
>75% = 1900  
>max = 5000

In [31]:
#establish limits and labels
date_limits = [-400000,1314,1540,1800,1900,5000]
date_labels = ['5.Oldest', '4.Very Old', '3.Old', '2.Not so Old', '1.New']
#use .cut to create bins
bins = pd.DataFrame(pd.cut(df_clean['Object Begin Date'], date_limits, labels=date_labels))
bins = bins.rename(columns={'Object Begin Date':'How Old'})

In [32]:
#Add new column to dataframe
df_clean = pd.concat([df_clean, bins], axis=1)
df_clean.columns

Index(['Is Highlight', 'PubDomain', 'Object ID', 'Department', 'Object Name',
       'Title', 'Artist Role', 'Artist Begin Date', 'Artist End Date',
       'Object Begin Date', 'Object End Date', 'Medium', 'Credit Line',
       'Classification', 'Link Resource', 'Tags', 'Authorship', 'Nationality',
       'Dimensions', 'Not In Public Domain', 'In Public Domain',
       'american decorative arts', 'ancient near eastern art',
       'arms and armor', 'arts of africa  oceania  and the americas',
       'asian art', 'costume institute', 'drawings and prints', 'egyptian art',
       'european paintings', 'european sculpture and decorative arts',
       'greek and roman art', 'islamic art', 'medieval art',
       'modern and contemporary art', 'musical instruments', 'photographs',
       'robert lehman collection', 'the cloisters', 'the libraries',
       'How Old'],
      dtype='object')

####Â 7. Renaming and Ordering Columns
Now that I have cleaned everything (as much as I knew how to), I will change the order and names of the columns to make it easier to read.

In [33]:
column_order = ['Object ID','Object Name','Title','Authorship','Nationality','Artist Role',
                'Artist Begin Date', 'Artist End Date','Object Begin Date', 'Object End Date','How Old',
                'Medium','Credit Line','Classification','Dimensions','Is Highlight',
                'PubDomain','Not In Public Domain','In Public Domain','Department','american decorative arts',
                'ancient near eastern art','arms and armor','arts of africa  oceania  and the americas','asian art',
                'costume institute','drawings and prints','egyptian art','european paintings', 
                'european sculpture and decorative arts','greek and roman art','islamic art','medieval art',
                'modern and contemporary art','musical instruments','photographs','robert lehman collection', 
                'the cloisters','the libraries','Link Resource','Tags']
df_clean = df_clean[column_order]
df_clean.head()

,Object ID,Object Name,Title,Authorship,Nationality,Artist Role,Artist Begin Date,Artist End Date,Object Begin Date,Object End Date,...,islamic art,medieval art,modern and contemporary art,musical instruments,photographs,robert lehman collection,the cloisters,the libraries,Link Resource,Tags
0,1,coin,one dollar liberty head coin,james barton longacre,american,maker,1794,1869,1853,1853,...,0,0,0,0,0,0,0,0,http://www.metmuseum.org/art/collection/search/1,none
1,2,coin,ten dollar liberty head coin,christian gobrecht,0,maker,1785,1844,1901,1901,...,0,0,0,0,0,0,0,0,http://www.metmuseum.org/art/collection/search/2,none
2,3,coin,two and a half dollar coin,unknown,0,unknown,0,0,1909,1927,...,0,0,0,0,0,0,0,0,http://www.metmuseum.org/art/collection/search/3,none
3,4,coin,two and a half dollar coin,unknown,0,unknown,0,0,1909,1927,...,0,0,0,0,0,0,0,0,http://www.metmuseum.org/art/collection/search/4,none
4,5,coin,two and a half dollar coin,unknown,0,unknown,0,0,1909,1927,...,0,0,0,0,0,0,0,0,http://www.metmuseum.org/art/collection/search/5,none

In [34]:
df_clean.columns = ['Object ID','Object Name','Title','Authorship','Nationality','Artist Role',
                'Artist Begin Date', 'Artist End Date','Object Begin Date', 'Object End Date','How Old',
                'Medium','Credit Line','Classification','Dimensions','Is Highlight',
                'PubDomain','Not In Public Domain','In Public Domain','Department','D: American Decorative Arts',
                'D: Ancient Near Eastern Art','D: Arms and Armor','D: Arts of Africa Oceania and Americas','D: Asian Art',
                'D: Costume Institute','D: Drawings and Prints','D: Egyptian Art','D: European Paintings', 
                'D: European Sculpture','D: Greek and Roman Art','D: Islamic Art','D: Medieval Art',
                'D: Modern and Contemporary Art','D: Musical Instruments','D: Photographs','D: Robert Lehman Collection', 
                'D: Cloisters','D: Libraries','Link Resource','Tags']
df_clean.columns

Index(['Object ID', 'Object Name', 'Title', 'Authorship', 'Nationality',
       'Artist Role', 'Artist Begin Date', 'Artist End Date',
       'Object Begin Date', 'Object End Date', 'How Old', 'Medium',
       'Credit Line', 'Classification', 'Dimensions', 'Is Highlight',
       'PubDomain', 'Not In Public Domain', 'In Public Domain', 'Department',
       'D: American Decorative Arts', 'D: Ancient Near Eastern Art',
       'D: Arms and Armor', 'D: Arts of Africa Oceania and Americas',
       'D: Asian Art', 'D: Costume Institute', 'D: Drawings and Prints',
       'D: Egyptian Art', 'D: European Paintings', 'D: European Sculpture',
       'D: Greek and Roman Art', 'D: Islamic Art', 'D: Medieval Art',
       'D: Modern and Contemporary Art', 'D: Musical Instruments',
       'D: Photographs', 'D: Robert Lehman Collection', 'D: Cloisters',
       'D: Libraries', 'Link Resource', 'Tags'],
      dtype='object')

#### 8. Export CSV File

In [35]:
#Export clean file to CSV
df_clean.to_csv('MetObjects_clean.csv', index=False)